@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
body{
        background-color: black;
}

h1{
        color: orange;
        font-family: 'Creepster', cursive;
        text-align: center;
}

h2{
        color: orange;
        font-family: 'Metal Mania', cursive;
}

p{
        font-family: times new roman;
        font-size: 12px;
}
